/*CORPO*/
.container-principal{
    height: 700px;
}

/*CONTATO*/
.div-contato{
    background-color: #cacaca;
}
.lbl-titulo{
    width: 100%;
    color: #5f5f5f;
}

.lbl-dado{
    width: 100%;
    color: #7c7c7c;
}

/*FOOTER*/
.footer {
    position: static;
    padding-top: 10px;
    height: 40px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #424242;
    color: #cacaca;
}
