<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATIVIDADE 04</title>
    
    <!--BOOTSTRAP-->
    <link rel="Stylesheet" href="../SRC/bootstrap-4.5.2-dist/css/bootstrap.min.css">
    <!--ICONS-->
    <link rel="icon" href="../SRC/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
    
    
	<!--FOOTER-->
	<div class="footer">
	    © Created by EquipeDev ✌🏻
	    <a href="https://github.com/juh2477/ADA_pol-tica-de-privacidade.git">Termo de Privacidade</a>
	</div>

</body>
</html>